h1{
    letter-spacing: 125px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

header {
    height: 75px;
    width: 100%;
    background-color: #e9e9e9;
    display: flex;
}

.topnav {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topnav > a {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 5px;
        
}

.searchbar {
    width: 40%;
    display: flex;
    align-items: center;
    }

input[type=text] {
    padding: 4px 100px;
    border: none;
}

form > button {
    padding: 4px 20px;
    background: black;
    cursor: pointer;
}

form > button:hover {
    background: rgba(0, 0, 0, 0.5);
}

form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.about {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(127, 127, 127, 0.5);
    transition: ease 1.5s;
    backdrop-filter: blur(15px);
    z-index: 1;
}

.closebutton {
    color: black;
    text-decoration: none;
    font-size: 50px;
    margin-left: 10px;
  }

.about:target {
    opacity: 1;
    pointer-events: auto;
  }

.about-image{
    left: 60%;
    top: 5%;
    width: 500px;
    height: 650px;
    max-width: 75vw;
    max-height: 90vh;
    position: absolute;
    background: black;
  }

.about-para {
    width: 600px;
    height: 500px;
    max-width: 75vw;
    max-height: 75vh;
    letter-spacing: 5px;
    position: absolute;
    left: 10%;
    top: 23%;
}

.about-heading {
    width: 600px;
    height: auto;
    position: absolute;
    left: 10%;
    top: 9%;
    letter-spacing: 125px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.closebutton:hover {
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: Black;
}

/* .about-heading, .about-para, .about-image {
    animation-name: modalabout;
    animation-duration: 1s;
}  */

/* @-webkit-keyframes modalabout {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
} */

.skills {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(127, 127, 127, 0.5);
    transition: ease 1.5s;
    backdrop-filter: blur(15px);
    z-index: 1;
}

.closebutton {
    color: black;
    text-decoration: none;
    font-size: 50px;
    margin-left: 10px;
  }

.skills:target {
    opacity: 1;
    pointer-events: auto;
    
  }

.skills-image{
    left: 10%;
    top: 5%;
    width: 500px;
    height: 650px;
    max-width: 75vw;
    max-height: 90vh;
    position: absolute;
    background: black;
  }

.skills-para {
    width: 600px;
    height: 500px;
    max-width: 75vw;
    max-height: 75vh;
    letter-spacing: 5px;
    position: absolute;
    left: 50%;
    top: 23%;
}

.skills-heading {
    width: 600px;
    height: auto;
    position: absolute;
    left: 47%;
    top: 9%;
    letter-spacing: 125px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.closebutton:hover {
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: Black;
}

figure {
    display: flex;
    justify-content: center;
    width:1308px;
    height: 597px;
    position: relative;
    left: 55px;
    margin-top: 25px;
    margin-bottom: 50px;
}

/*  figure:target {
    opacity: 0;
    pointer-events: auto;
} */

/* figure > img {
    width: 316px;
    height: 282px;
    border: 3px solid black;
    text-align: center;
    line-height: 282px;
}

figure > .lasttwo {
    width: 641px;
    height: 304px;
    border: 3px solid black;
    text-align: center;
    line-height: 304px;
} */

.refimageone, .refimagetwo {
    width: 641px;
    height: 304px;
}

.refimageone {
    position: absolute;
    left: 0;
    top: 293px;
}

.refimagetwo {
    position: absolute;
    left:663px;
    top: 0;
}

.about-imagelink {
    width: 316px;
    height: 282px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.skills-imagelink {
    width: 316px;
    height: 282px;
    object-fit: cover;
    position: absolute;
    left: 325px;
    top: 0;
}

.projects-imagelink {
    width: 316px;
    height: 282px;
    object-fit: cover;
    position: absolute;
    left: 664px;
    top: 315px;
}

.contact-imagelink {
    width: 316px;
    height: 282px;
    object-fit: cover;
    position: absolute;
    left: 990px;
    top: 315px;
}

.figureoverlays {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 191, 249, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-imagelink:hover .figureoverlays {
    opacity: 1;
}

.skills-imagelink:hover .figureoverlays {
    opacity: 1;
}

.projects-imagelink:hover .figureoverlays {
    opacity: 1;
}

.contact-imagelink:hover .figureoverlays {
    opacity: 1;
}
/*  .aboutbutton {
    position: absolute;
    left: 0;
    top: 0;
}

.skillsbutton {
    position: absolute;
    left: 325px;
    top: 0;
}

.projectsbutton {
    position: absolute;
    left: 664px;
    top: 315px;
}

.contactbutton {
    position: absolute;
    left: 990px;
    top: 315px;
}

#imagesbuttons {
    padding: 15px;
    background-color: #e9e9e9;
    color: black;
}

figure > #FirstDiv {
    position: absolute;
    left: 0;
    top: 0;
}

figure > #SecondDiv {
    position: absolute;
    left: 325px;
}

figure > #ThirdDiv {
    position: absolute;
    left:664px;
    top: 315px;
}

figure > #FourthDiv {
    position: absolute;
    left: 990px;
    top: 315px;
}

figure > #FirstImg {
    position: absolute;
    left: 0;
    top: 293px;
}

figure > #SecondImg {
    position: absolute;
    left:663px;
    top: 0;
} */

footer {
    height: 75px;
    width: 100%;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
}

footer > p {
    width: 40%;
    height: auto;
    margin: 4%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.182);
    font-size: 10px;
    font-weight:bold;
    letter-spacing: 8px;
}

footer > nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    border: none;
    background-color: #e9e9e9;
    font-size: 10px;
    font-weight:bold;
    letter-spacing: 8px;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition-duration: 1s;
    }

button:hover {
    color: #00000079;
    text-decoration-color: black;
}

.imagebutton {
    border: none;
    background-color: inherit;
    font-size: 16px;
    letter-spacing: 8px;
    cursor: pointer
}