/* * {
    margin: 0;
    box-sizing: border-box;
  } */

h1{
    letter-spacing: 175px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: -175px;
    padding-top: 1%;
}

.pageheading {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    min-width: 0;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

header {
    height: 75px;
    width: 100%;
    background-color: #e9e9e9;
    display: flex;
    min-width: 0;
}

.topnav {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobtopnav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.topnav > a {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 5px;
}

.searchbar {
    width: 40%;
    display: flex;
    align-items: center;
    min-width: 0;
    }

.navform > input[type=text] {
    padding: 4px 100px;
    border: none;
}

.navform > button {
    padding: 4px 20px;
    background: black;
    cursor: pointer;
}

.navform > button:hover {
    background: rgba(0, 0, 0, 0.5);
}

.navform {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    min-width: 0;
}

.about {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(127, 127, 127, 0.5);
    transition: ease 1.5s;
    backdrop-filter: blur(15px);
    z-index: 1;
}

.closebutton {
    color: black;
    text-decoration: none;
    font-size: 50px;
    margin-left: 10px;
  }

.about:target {
    opacity: 1;
    pointer-events: auto;
  }

.about-image{
    left: 65%;
    top: 11%;
    max-width: 75vw;
    max-height: 90vh;
    position: absolute;
    object-fit: cover;
  }

.about-image > img {
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.about-para {
    width: 600px;
    height: 500px;
    max-width: 75vw;
    max-height: 75vh;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 1.8;
    position: absolute;
    left: 10%;
    top: 23%;
}


.aboutmobsect{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 0;
}

.aboutmobcon {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    background-color: rgb(0,128,255,0.3);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2%;
}

.aboutmobpara {
    width: auto;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 1.8;
}

.skillsmobbody {
    height: 100%;
    margin: 0;
}

#skillsmobhead {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    bottom: 58%;
    margin: 0;
}

.skillsmobsect {
    width: 99%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    top: 25%;
    /* border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0; */
}

.skillsmobcon {
    position: absolute;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    /* border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0; */
}

.skillsmobpara {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 1.8;
    /* border-style: solid;
    border-color: rgb(8, 0, 255);
    border-width: 1px;     */
}

.skillsmobimg {
    width: 85%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 0;
    /* border-style: solid;
    border-color: rgb(255, 0, 0);
    border-width: 1px; */
}

.skillsmobimg > img {
    margin-bottom: 30px;
}

.about-heading {
    width: 600px;
    height: auto;
    position: absolute;
    left: 10%;
    top: 9%;
    letter-spacing: 125px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.closebutton:hover {
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: Black;
}

.skills {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(127, 127, 127, 0.5);
    transition: ease 1.5s;
    backdrop-filter: blur(15px);
    z-index: 1;
}

.closebutton {
    color: black;
    text-decoration: none;
    font-size: 50px;
    margin-left: 10px;
  }

.skills:target {
    opacity: 1;
    pointer-events: auto;
    
  }

.skills-image{
    left: 10%;
    top: 5%;
    width: 500px;
    height: 650px;
    max-width: 75vw;
    max-height: 90vh;
    position: absolute;
  }

.skills-image > img {
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.skills-para {
    width: 600px;
    height: 500px;
    max-width: 75vw;
    max-height: 75vh;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 1.8;
    position: absolute;
    left: 50%;
    top: 23%;
}

.dotpoints {
display: inline-block;
}

.skills-heading {
    width: 600px;
    height: auto;
    position: absolute;
    left: 47%;
    top: 9%;
    letter-spacing: 125px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.closebutton:hover {
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: Black;
}

figure {
    display: flex;
    justify-content: center;
    width:1308px;
    height: 597px;
    position: relative;
    min-width: 0;
    left: 55px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.refimageone, .refimagetwo, .refimagethree {
    width: 641px;
    height: 304px;
    background-color: rgb(0,128,255,0.3);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2%;
}

.refimageone {
    position: absolute;
    left: 0;
    top: 293px;
}

.refimagetwo {
    position: absolute;
    left:663px;
    top: 0;
}

.about-imagelink {
    width: 316px;
    height: 282px;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
}

.imgs {
    filter:opacity(80%);
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.skills-imagelink {
    width: 316px;
    height: 282px;
    object-fit: cover;
    position: absolute;
    left: 325px;
    top: 0;
}

.projects-imagelink {
    width: 316px;
    height: 282px;
    object-fit: cover;
    position: absolute;
    left: 664px;
    top: 315px;
}

.contact-imagelink {
    width: 316px;
    height: 282px;
    object-fit: cover;
    position: absolute;
    left: 990px;
    top: 315px;
}

.figureoverlays {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 191, 249, 0.15);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.about-imagelink:hover .figureoverlays {
    opacity: 1;
}

.skills-imagelink:hover .figureoverlays {
    opacity: 1;
}

.projects-imagelink:hover .figureoverlays {
    opacity: 1;
}

.contact-imagelink:hover .figureoverlays {
    opacity: 1;
}

footer {
    height: 75px;
    width: 100%;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    min-width: 0;
}

footer > p {
    width: 40%;
    height: auto;
    margin: 4%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.182);
    font-size: 10px;
    font-weight:bold;
    letter-spacing: 8px;
}

/* footer > nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 0;
} */

.footeroverlay {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10px;
    font-weight:bold;
    letter-spacing: 8px;
    z-index: 1;
}

#aboutfooter {
    position: absolute;
    width: 40%;
    height: auto;
    left: 4%;
    bottom: 6%;
}

#skillsfooter {
    position: absolute;
    width: 40%;
    height: auto;
    left: 73%;
    bottom: 6%;
}

button {
    border: none;
    background-color: #e9e9e9;
    font-size: 10px;
    font-weight:bold;
    letter-spacing: 8px;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition-duration: 1s;
    }

button:hover {
    color: #00000079;
    text-decoration-color: black;
}

.imagebutton {
    border: none;
    background-color: inherit;
    font-size: 16px;
    letter-spacing: 16px;
    cursor: pointer
}

.contactform {
    width: 35%;
    height: auto;
    margin: 25px 0 50px 7.5%;
    display: inline-block;
}

.contactform > input[type=text] {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 8px 0;
    border-style: solid;
    box-sizing: border-box;
    letter-spacing: 8px;
} 

input[type=email] {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 8px 0;
    border-style: solid;
    box-sizing: border-box;
    letter-spacing: 8px;
}

input[type=tel] {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 8px 0;
    border-style: solid;
    box-sizing: border-box;
    letter-spacing: 8px;
}

input[type=submit] {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 8px 0;
    border-style: solid;
    box-sizing: border-box;
    letter-spacing: 8px;
}

textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 8px 0;
    border-style: solid;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8px;
    color: #939393;
}

.contactsct {
    width: auto;
    height: 414px;
    margin: 0px 0 50px 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

section img:nth-of-type(1) {
    position: absolute;
    left: 68%;
    bottom: 10%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2%;
}

section img:nth-of-type(2) {
    position: absolute;
    left: 68%;
    bottom: -30%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2%;
}

section > h2 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 16px;
    font-weight: bold;
}

.projecthead {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    min-width: 0;
}

#portfoliohead {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    min-width: 0;
}

section > p {
    width: 55%;
    height: auto;
    /* height: 100%; */
    margin: 25px 0 50px 7.5%;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 1.8;
}

.scdp {
    width: auto;
    height: auto;
    margin-right: 7.5%;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 1.8;
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 16px;
    margin-right: -16px;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 1s;
}

h3:hover {
    text-decoration-color: black;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
}

.scrollup {
    font-size: 50px;
    color: #939393;
}

.scrolldown {
    font-size: 50px;
    color: #939393;
}

.scrollup:hover, .scrolldown:hover {
    color: black;
    font-weight: bolder;
}

.under {
    text-decoration: underline;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {

    .topnav {
        display: none;
    }
    
    .homeheader {
        position: relative;
        bottom: 20px;
    }

    #homescrolldown {
        position: absolute;
        left: 270px;
        bottom: 0;
    }

    .navbttn {
        font-size: 8px;
    }

    #AbtDeskBttn, #SklsDeskBttn {
        display: none;
    }

    footer {
        display: none;
    }

    h1 {
        letter-spacing: 20px;
        margin: 0 0 2% 0;
        font-weight: lighter;
    }

    #welcomemobhead {
        display: none;
    }

    .searchbar {
        display: none;
    }

    figure {
        display: none;
    }

    figure div {
        display: none;
    }

    .refimagethree {
        position: relative;
        width: 80%;
        height: 100%;
        max-height: 75vh;
        margin-left: auto;
        margin-right: auto;
        bottom: 8%;
        margin-top: 50px;
        color: rgba(0, 128, 255); 
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
    }

    .refimagethree p {
        font-size: 26px;
        letter-spacing: 26px;
        margin-right: -10px;
    }

    footer p {
        display: none;
    }

    h3 {
        display: none;
    }

    .aboutmobheader {
        position: relative;
        bottom: 9px;
    }
    
    .aboutmobcon {
        height: 88%;
        position: absolute;
        bottom: -75px;
    }
    
    .aboutmobpara {
        font-size: 10px;
        position: absolute;
        top: 25%;
        padding: 0 30px;
    }
    
    #aboutmobhead {
        position: absolute;
        top: 35%;
        right: 0;
        min-width: 0;
    }

    #aboutscrollup {
        position: absolute;
        left: 270px;
        top: 13%;
    }
    
    #aboutscrolldown {
        position: absolute;
        top: 110%;
        left: 270px;
        transition: 1s;
    }

    .skillsmobheader {
        position: relative;
        width: 150%;
        bottom: 149px;
        /* right: 7px; */
        /* margin: 0; */
    }    
    
    #skillsmobhead {
        position: relative;
        bottom: 52%;
    }
    
    .skillsmobsect {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
    }
    
    #skillsscrollup {
        position: absolute;
        top: 13%;
        left: 270px;
    }
    
    #skillsscrolldown {
        position: absolute;
        bottom: -48%;
        left: 270px;
    }

    .projectsheader {
        position: relative;
        bottom: 9px;
    }

    #projectsmobhead {
        position: absolute;
        top: 20%;
        right: 0;
    }

    section {
        position: relative;
        width: 100%;
        top: 16%;
        margin: 0;
        /* margin-bottom: 20px; */
    }

    .projecthead {
        position: relative;
    }

    section > p, .scdp {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    section > img {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
    }

    section img:nth-of-type(1) {
        /* left: -3%; */
        left: 0;
        right: 0;
        bottom: -25%;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 2%;
    }
    
    section img:nth-of-type(2) {
        /* left: -3%; */
        left: 0;
        right: 0;
        bottom: -50%;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 2%;
    }
    
    #projectsscrollup {
        position: absolute;
        left: 270px;
        top: 11%;
    }

    #projectsscrolldown {
        position: relative;
        left: 270px;
        top: 150%;
    }

    .contactheader {
        position: relative;
        bottom: 57px;
    }
    
    #contactmobhead {
        position: absolute;
        top: 20%;
        left: 0;
    }

    .formcontainer {
        display: flex;
        justify-content: center;
    }

    .contactform {
        width: 80%;
        position: relative;
        margin: 0;
        /* left: 64.5px; */
    }

    #contactscrollup {
        position: absolute;
        top: 11%;
        left: 270px;
    }

    .contactsct {
        display: none;
    }
    
}

@media only screen and (min-width: 601px) {
    .scrollup {
        display: none;
    }

    .scrolldown {
        display: none;
    }

    .refimagethree {
        display: none;
    }

    #AbtMobBttn, #SklsMobBttn {
        display: none;
    }

    .mobtopnav {
        display: none;
    }
}